<a href="https://colab.research.google.com/github/Carlos-Egger/regress-o_automoveis/blob/main/Regressao_automoveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tensorflow==2.16.1

Requirement already satisfied: tensorflow==2.16.1 in /usr/local/lib/python3.10/dist-packages (2.16.1)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (4.25.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (75.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (1.17.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (1.68.1)
Requirement already satisfied: tensorboard<2.17,>=2.16 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (3.5.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (0.37.1)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /usr/local/lib/python3.10/dist-packages (from tensorflow==2.16.1) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow==2.16.1) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.0.0->tensorflow==2.16.1) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras>=3.0.0->tensorflow==2.16.1) (0.0.8)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras>=3.0.0->tensorflow==2.16.1) (0.13.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow==2.16.1) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.0.0->tensorflow==2.16.1) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.0.0->tensorflow==2.16.1) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.0.0->tensorflow==2.16.1) (0.1.2)

In [ ]:
!pip install scikeras

Requirement already satisfied: scikeras in /usr/local/lib/python3.10/dist-packages (0.13.0)
Requirement already satisfied: keras>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from scikeras) (3.5.0)
Requirement already satisfied: scikit-learn>=1.4.2 in /usr/local/lib/python3.10/dist-packages (from scikeras) (1.5.2)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (1.26.4)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (0.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (3.12.1)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (0.13.1)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (0.3.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras>=3.2.0->scikeras) (24.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.4.2->scikeras) (3.5.0)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from optree->keras>=3.2.0->scikeras) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->scikeras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras>=3.2.0->scikeras) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.2.0->scikeras) (0.1.2)

In [ ]:
import pandas as pd
import tensorflow as tf
import sklearn
import scikeras

In [ ]:
pd.__version__, tf.__version__, sklearn.__version__, scikeras.__version__

('2.2.2', '2.16.1', '1.5.2', '0.13.0')

In [ ]:
import time
from scikeras.wrappers import KerasRegressor
from tensorflow.keras import backend as k
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn import metrics

In [ ]:
base = pd.read_csv('autos.csv', encoding = 'ISO-8859-1')
base

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [ ]:
base.drop(['dateCrawled', 'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen'],axis = 1, inplace=True)

In [ ]:
base

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [ ]:
base['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [ ]:
 base.drop(['name'], axis=1, inplace=True)

In [ ]:
base

,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [ ]:
base['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [ ]:
base.drop(['seller'], axis=1, inplace=True)

In [ ]:
base['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [ ]:
base.drop(['offerType'], axis=1, inplace=True)

In [ ]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [ ]:
base.loc[base['price'] <= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [ ]:
base = base[base['price'] > 10]

In [ ]:
base.shape

(359410, 12)

In [ ]:
base.loc[base['price'] > 350000]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

In [ ]:
base = base.loc[base['price'] < 350000]

In [ ]:
base.shape

(359291, 12)

In [ ]:
base.loc[pd.isnull(base['vehicleType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [ ]:
base['vehicleType'].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [ ]:
base['vehicleType'].mode()

0    limousine
Name: vehicleType, dtype: object

In [ ]:
base.loc[pd.isnull(base['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [ ]:
base['gearbox'].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [ ]:
base.loc[pd.isnull(base['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [ ]:
base['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [ ]:
base.loc[pd.isnull(base['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [ ]:
base['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [ ]:
base.loc[pd.isnull(base['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [ ]:
base['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

In [ ]:
valores = {
    'vehicleType': 'limousine',
    'gearbox': 'manuell',
    'model': 'golf',
    'fuelType': 'benzin',
    'notRepairedDamage': 'nein'
}

In [ ]:
base = base.fillna(value = valores)

In [ ]:
base.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [ ]:
base.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [ ]:
X = base.iloc[:, 1:12].values

In [ ]:
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [ ]:
y = base.iloc[:, 0].values

In [ ]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990])

In [ ]:
base['brand'].value_counts()

brand
volkswagen        76755
bmw               38982
opel              38557
mercedes_benz     34498
audi              31884
ford              24761
renault           17367
peugeot           10777
fiat               9339
seat               6815
skoda              5572
mazda              5529
smart              5159
citroen            5038
nissan             4893
toyota             4616
hyundai            3585
mini               3354
sonstige_autos     3331
volvo              3229
mitsubishi         2956
honda              2726
kia                2494
suzuki             2274
alfa_romeo         2250
porsche            2154
chevrolet          1791
chrysler           1373
dacia               889
jeep                784
daihatsu            774
land_rover          759
subaru              746
jaguar              603
daewoo              530
saab                516
trabant             489
lancia              467
rover               462
lada                213
Name: count, dtype: int64

In [ ]:
onehotencoder = ColumnTransformer(transformers = [("OneHot", OneHotEncoder(),  [0, 1, 3, 5, 8, 9, 10])], remainder='passthrough')

In [ ]:
X = onehotencoder.fit_transform(X).toarray()

In [ ]:
X

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]])

In [ ]:
X.shape

(359291, 316)

In [ ]:
# Quantidade de neuronios das camadas ocultas
(316 + 1) / 2

158.5

In [ ]:
regressor = Sequential([
    tf.keras.layers.InputLayer(shape = (316, )),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 1, activation = 'linear')
])

In [ ]:
regressor.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 158)                 │          50,086 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 158)                 │          25,122 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │             159 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
regressor.compile(loss = 'mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [ ]:
regressor.fit(X, y, batch_size = 300, epochs=100)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 4199.4463 - mean_absolute_error: 4199.4463
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 3381.5789 - mean_absolute_error: 3381.5789
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 3027.3499 - mean_absolute_error: 3027.3499
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2850.5884 - mean_absolute_error: 2850.5884
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2793.7585 - mean_absolute_error: 2793.7585
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2772.3240 - mean_absolute_error: 2772.3240
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - loss: 2701.2410 - mean_absolute_error: 2701.2410
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 2677.9966 - mean_absolute_error: 2677.9966
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2623.8989 - mean_absolute_error: 2623.8989
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 2596.2139 - mean_absolute_error: 2596.2141
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2554.1113 - mean_absolute_error: 2554.1113
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2497.1646 - mean_absolute_error: 2497.1646
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - loss: 2501.2097 - mean_absolute_error: 2501.2097
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2500.1755 - mean_absolute_error: 2500.1755
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2444.8271 - mean_absolute_error: 2444.8271
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2449.8560 - mean_absolute_error: 2449.8560
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 2436.2351 - mean_absolute_error: 2436.2351
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2397.4824 - mean_absolute_error: 2397.4824
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2414.8655 - mean_absolute_error: 2414.8655
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 2398.9534 - mean_absolute_error: 2398.9534
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2406.1040 - mean_absolute_error: 2406.1040
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - loss: 2400.5444 - mean_absolute_error: 2400.5444
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2376.7129 - mean_absolute_error: 2376.7129
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2412.8975 - mean_absolute_error: 2412.8975
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2381.6267 - mean_absolute_error: 2381.6267
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2394.2090 - mean_absolute_error: 2394.2090
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2380.6028 - mean_absolute_error: 2380.6028
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 7ms/step - loss: 2369.8225 - mean_absolute_error: 2369.8225
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2343.9929 - mean_absolute_error: 2343.9929
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2349.4097 - mean_absolute_error: 2349.4097
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2359.5725 - mean_absolute_error: 2359.5725
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2348.1323 - mean_absolute_error: 2348.1323
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2334.5610 - mean_absolute_error: 2334.5610
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2358.9194 - mean_absolute_error: 2358.9194
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2321.9497 - mean_absolute_error: 2321.9497
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2314.7734 - mean_absolute_error: 2314.7732
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 5ms/step - loss: 2357.0281 - mean_absolute_error: 2357.0281
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - loss: 2335.3997 - mean_absolute_error: 2335.3997
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2335.2168 - mean_absolute_error: 2335.2168
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2334.5952 - mean_absolute_error: 2334.5952
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2322.6492 - mean_absolute_error: 2322.6492
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2327.2197 - mean_absolute_error: 2327.2197
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2308.0222 - mean_absolute_error: 2308.0222
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2329.3748 - mean_absolute_error: 2329.3750
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2305.2727 - mean_absolute_error: 2305.2727
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2324.5806 - mean_absolute_error: 2324.5806
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 6ms/step - loss: 2306.3098 - mean_absolute_error: 2306.3098
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - loss: 2283.6731 - mean_absolute_error: 2283.6731
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - loss: 2332.6628 - mean_absolute_error: 2332.6628
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 2302.3301 - mean_absolute_error: 2302.3301
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2305.6497 - mean_absolute_error: 2305.6497
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - loss: 2297.7288 - mean_absolute_error: 2297.7288
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2315.9673 - mean_absolute_error: 2315.9675
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2320.3027 - mean_absolute_error: 2320.3027
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - loss: 2294.7693 - mean_absolute_error: 2294.7693
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2307.5193 - mean_absolute_error: 2307.5193
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2295.6462 - mean_absolute_error: 2295.6460
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2288.1338 - mean_absolute_error: 2288.1338
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2306.6409 - mean_absolute_error: 2306.6409
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2299.4170 - mean_absolute_error: 2299.4167
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2288.6826 - mean_absolute_error: 2288.6826
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - loss: 2266.3931 - mean_absolute_error: 2266.3931
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2277.2876 - mean_absolute_error: 2277.2876
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2279.8833 - mean_absolute_error: 2279.8831
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2260.7930 - mean_absolute_error: 2260.7930
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 7ms/step - loss: 2293.6877 - mean_absolute_error: 2293.6877
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - loss: 2281.0332 - mean_absolute_error: 2281.0332
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 9ms/step - loss: 2277.3540 - mean_absolute_error: 2277.3540
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 17s 5ms/step - loss: 2281.4460 - mean_absolute_error: 2281.4460
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2269.3625 - mean_absolute_error: 2269.3625
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2279.9519 - mean_absolute_error: 2279.9519
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2268.9829 - mean_absolute_error: 2268.9829
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2259.8350 - mean_absolute_error: 2259.8350
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 2273.0042 - mean_absolute_error: 2273.0039
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2270.1165 - mean_absolute_error: 2270.1165
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2261.7144 - mean_absolute_error: 2261.7146
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2254.7629 - mean_absolute_error: 2254.7629
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 2267.0242 - mean_absolute_error: 2267.0242
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2287.4392 - mean_absolute_error: 2287.4392
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - loss: 2266.7366 - mean_absolute_error: 2266.7366
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2272.7090 - mean_absolute_error: 2272.7090
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2268.2517 - mean_absolute_error: 2268.2520
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 2270.7080 - mean_absolute_error: 2270.7080
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2267.1370 - mean_absolute_error: 2267.1370
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2262.6145 - mean_absolute_error: 2262.6145
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2256.7739 - mean_absolute_error: 2256.7739
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 7ms/step - loss: 2262.8235 - mean_absolute_error: 2262.8235
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 6ms/step - loss: 2257.9714 - mean_absolute_error: 2257.9714
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2255.6018 - mean_absolute_error: 2255.6018
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2232.7979 - mean_absolute_error: 2232.7979
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2274.5063 - mean_absolute_error: 2274.5063
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 5ms/step - loss: 2245.8030 - mean_absolute_error: 2245.8030
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2237.0745 - mean_absolute_error: 2237.0745
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - loss: 2245.1731 - mean_absolute_error: 2245.1731
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 9s 6ms/step - loss: 2231.4480 - mean_absolute_error: 2231.4480
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 7ms/step - loss: 2257.2207 - mean_absolute_error: 2257.2207
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2242.1072 - mean_absolute_error: 2242.1072
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 10s 5ms/step - loss: 2255.7944 - mean_absolute_error: 2255.7944
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 11s 6ms/step - loss: 2239.0513 - mean_absolute_error: 2239.0513
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 12s 7ms/step - loss: 2232.3015 - mean_absolute_error: 2232.3015

In [ ]:
previsoes = regressor.predict(X)

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 21s 2ms/step

In [ ]:
previsoes

array([[  647.1095],
       [ 9218.986 ],
       [12063.59  ],
       ...,
       [ 5997.2837],
       [ 3068.0972],
       [25764.246 ]], dtype=float32)

In [ ]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990])

In [ ]:
y.mean()

5916.833945186492

In [ ]:
previsoes.mean()

4782.5737